@use "sass:color";
@use "./vars" as *;

/* Ejemplo usando un tema predefinido o adaptado */
@import "highlight.js/styles/atom-one-dark.css";
// @import 'highlight.js/styles/ayus.css';

@property --stop-color-1 {
    syntax: "<color>";
    initial-value: $green-color;
    inherits: false;
}

@property --stop-color-2 {
    syntax: "<color>";
    initial-value: $dlunire-color;
    inherits: false;
}

:root {
    background-size: 50px 50px;
    line-height: 1.7;

    font: {
        size: 16px;
        family: "Roboto Condesed", "Roboto", "Open Sans", sans-serif, arial;
        weight: 300;
    }

    @media screen and (prefers-color-scheme: dark) {
        background-color: $dark-color-theme;
        color: white;

        background-image:
            linear-gradient(
                0deg,
                rgba($light-color-theme, 0.01) 1px,
                transparent 1px
            ),
            linear-gradient(
                90deg,
                rgba($light-color-theme, 0.01) 1px,
                transparent 1px
            );

        --dlunire-color: #{color.adjust(
                $color: $dlunire-color,
                $lightness: 30%
            )};
    }

    @media screen and (prefers-color-scheme: light) {
        background-color: $light-color-theme;
        color: black;

        background-image:
            linear-gradient(
                0deg,
                rgba($dark-color-theme, 0.03) 1px,
                transparent 1px
            ),
            linear-gradient(
                90deg,
                rgba($dark-color-theme, 0.03) 1px,
                transparent 1px
            );

        --start-text-color: #{color.adjust(
                $color: $dlunire-color,
                $lightness: -20%
            )};
    }

    --max-width: 1100px;
}

body {
    margin: 0;
    height: 100vh;
}

main {
    min-height: 100vh;

    background-image: radial-gradient(
        farthest-corner,
        color-mix(in oklab, var(--dlunire-color) 20%, black 90%),
        transparent
    );

    @media screen and (prefers-color-scheme: light) {
        background-image: none;
    }
}

@supports (height: 100dvh) {
    body {
        height: 100dvh;
    }
}

@supports (min-height: 100dvh) {
    main {
        min-height: 100dvh;
    }
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;

    box-sizing: border-box;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: var(--dlunire-color)
        color-mix(in srgb, var(--dlunire-color) 20%, transparent);

    @media screen and (prefers-color-scheme: dark) {
        scrollbar-color: var(--dlunire-color)
            color-mix(in srgb, var(--dlunire-color) 3%, transparent);
    }

    &::before,
    &::after {
        box-sizing: inherit;
    }
}

a {
    text-decoration: none;
    transition: 300ms ease;

    &:active {
        transition: none;
    }
}

pre,
code,
.monospace {
    font: {
        family: "Cascadia Code", monospace;
    }
}

code {
    /* @include padding-x(7px); */
    background-color: rgba(black, 0.2);
    border-radius: 3px;
    color: color.adjust($color: $dlunire-color, $lightness: 40%);

    @media screen and (prefers-color-scheme: light) {
        color: color.adjust($color: $dlunire-color, $lightness: 0%);
        background-color: rgba(black, 0.05);
    }
}
