@use "sass:color";
@use "./vars" as *;

.header {
    position: sticky;
    top: 0;
    left: 0;

    padding-top: 30px;
    padding-bottom: 20px;
    @include padding-x(15px);
    display: flex;
    justify-content: center;

    --nav-height: 70px;
    --nav-radius: calc(var(--nav-height) / 2);
    z-index: 1000;

    &__nav {
        flex-grow: 1;
        max-width: var(--max-width, 1200px);
        height: var(--nav-height);
        border-radius: var(--nav-radius);
        padding-left: var(--nav-radius);
        padding-right: var(--nav-radius);
        background-color: rgba(white, 0.04);
        backdrop-filter: blur(3px);

        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (prefers-color-scheme: dark) {
            border: 1px solid rgba($light-color-theme, 0.1);
        }

        @media screen and (prefers-color-scheme: light) {
            border: 1px solid rgba($dark-color-theme, 0.1);
            box-shadow: 2px 2px 20px 2px rgba($dark-color-theme, 0.1);
        }
    }
}

.logo {
    --icon-size: 40px;

    --icon-color: black;
    --icon-width: var(--icon-size);
    --icon-height: var(--icon-size);

    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--icon-color);
    transition: 300ms ease;

    &:active {
        .logo__label {
            transition: none;
        }
    }

    @media screen and (prefers-color-scheme: dark) {
        &:hover {
            --icon-color: white;
        }

        &,
        &:active {
            --icon-color: #{rgba(white, 0.7)};

            path {
                transition: none;
            }
        }
    }

    @media screen and (prefers-color-scheme: light) {
        &:hover {
            --icon-color: #{rgba(black, 0.7)};
        }

        &,
        &:active {
            --icon-color: black;

            path {
                transition: none;
            }
        }
    }

    &__text {
        line-height: 1.2;
    }

    &__title {
        margin: 0;
        display: flex;

        span {
            display: flex;
            color: var(--icon-color);

            &:first-of-type {
                color: green;
            }
        }
    }

    &__label {
        margin: 0;
        letter-spacing: 0.4px;
        transition: 300ms ease;

        font: {
            size: 0.7rem;
        }
    }
}

.snippet {
    position: relative;
    flex-grow: 1;
    max-width: 450px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;

    background-image: linear-gradient(
        50deg,
        $dark-color-theme,
        rgba($dark-color-theme, 0.5)
    );

    padding: 20px 20px;
    position: relative;
    border-left: 1px solid rgba(white, 0.1);
    border-right: 1px solid rgba(white, 0.1);

    @media screen and (max-width: 600px) {
        /* max-width: calc(100vw - (var(--padding-column, 30px) + 10px)); */
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        height: 3px;
        background-image: linear-gradient(90deg, orange, green);
    }

    &::before {
        top: 0;
        bottom: auto;
    }

    &::after {
        top: auto;
        bottom: 0;
    }

    @media screen and (prefers-color-scheme: light) {
        background-image: none;
        background-color: white;
        box-shadow: 0 0 10px rgba(black, 0.13);
        border: 1px solid rgba(black, 0.1);

        &::before,
        &::after {
            height: 6px;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__body {
        width: 100%;
        &-code {
            position: relative;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        transition: 300ms ease;

        --icon-color: #{rgba(white, 0.3)};
        --icon-size: 15px;

        --icon-width: var(--icon-size);
        --icon-height: var(--icon-size);

        &:active {
            transition: none;
        }

        &--copy {
            position: absolute;
            margin: auto;
            left: auto;
            top: 0;
            bottom: 0;
            right: 2px;
            border-radius: 0 4px 4px 0;
            width: calc(var(--padding-left) + 10px);
            border-left: 1px solid rgba(green, 0.3);
            height: var(--button-height, 30px);
            outline: 1px solid transparent;

            &:focus {
                outline: 1px solid transparent;
            }

            &:hover {
                background-color: rgba(white, 0.02);
                --icon-color: #{rgba(white, 0.6)};
            }

            &,
            &:active {
                background-color: transparent;
            }

            &:active {
                --icon-color: #{rgba(white, 0.9)};
                path {
                    transition: none;
                }
            }

            @media screen and (prefers-color-scheme: light) {
                &:hover {
                    --icon-color: black;
                }

                &,
                &:active {
                    --icon-color: #{rgba(black, 0.7)};
                }
            }
        }
    }

    &__code {
        @include padding-x(calc(var(--padding-left) + 10px));
        background-color: rgba(black, 0.1);
        border: 1px solid rgba(green, 0.3);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 4px;

        width: 100%;
        font: {
            size: 0.8rem;
        }

        --padding-left: 35px;
        &::before {
            content: ">_";
            line-height: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            margin: auto;
            left: 0;
            top: 0;
            bottom: 0;
            width: var(--padding-left);
            border-right: 1px solid rgba(green, 0.3);
            line-height: 1;

            font: {
                family: "Cascadia Code", monospace, "Ubuntu Mono";
            }
        }

        @media screen and (prefers-color-scheme: light) {
            background-color: white;
        }
    }

    &__title {
        margin: 0;
        font: {
            size: 0.8rem;
            weight: 500;
        }

        opacity: 0.5;
        text-transform: uppercase;

        @media screen and (prefers-color-scheme: light) {
            opacity: 0.8;
        }
    }
}

.tag {
    list-style: none;
    margin: 0;
    padding-left: 0;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

    font: {
        family: "Cascadia Code", monospace, "Ubuntu Mono";
        size: 0.8rem;
    }

    white-space: nowrap;

    &,
    &__item {
        display: flex;
    }

    &__item {
        --background: color-mix(in srgb, var(--text-color), black 90%);
        --border-color: color-mix(in srgb, var(--text-color, green), black 65%);
        border-width: 1px;
        border-style: solid;
        background-color: var(--background);
        border-color: var(--border-color);
        color: #{var(
                --text-color,
                color.adjust($color: $green-color, $lightness: 30%)
            )};
        border-radius: 20px;
        padding: 0 12px;
        line-height: 1;

        height: 30px;
        display: flex;
        align-items: center;
        animation: 300ms ease deploy forwards;

        @media screen and (prefers-color-scheme: light) {
            color: #{var(
                    --text-color,
                    color.adjust($color: $green-color, $lightness: -10%)
                )};

            --background: color-mix(in srgb, var(--text-color), white 90%);
            --border-color: color-mix(
                in srgb,
                var(--text-color, green),
                white 65%
            );
        }

        font: {
            size: 0.8rem;
            weight: 300;
        }

        &--light {
            --text-color: white;
        }

        &--command {
            --text-color: #{rgba($command-color, 0.7)};
        }

        &--primary {
            --text-color: #{$envinronment-var-color};
        }

        @media screen and (prefers-color-scheme: light) {
            &--light {
                --text-color: black;
            }

            &--command {
                --text-color: #{color.adjust(
                        $color: $command-color,
                        $lightness: -10%
                    )};
            }

            &--primary {
                --text-color: #{color.adjust(
                        $color: $envinronment-var-color,
                        $lightness: -30%
                    )};
            }
        }
    }

    &__label {
        font: {
            size: 0.8rem;
            weight: 300;
        }
    }
}

.command {
    color: white;

    &--color {
        color: $command-color;

        @media screen and (prefers-color-scheme: light) {
            color: color.adjust($color: $command-color, $lightness: -30%);
            font: {
                weight: 500;
            }
        }
    }
}

.social-media {
    --icon-size: 13px;
    --icon-color: white;
    --icon-width: var(--icon-size);
    --icon-height: var(--icon-size);

    list-style: none;
    margin-top: 9px;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    gap: 3px;

    &__item {
        --padding: 8px;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        &:not(:first-of-type) {
            border-left: 1px solid rgba(white, 0.05);

            &:hover {
                border-left-color: transparent;
            }
        }
    }

    &__link {
        border: 1px solid transparent;
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        padding-top: var(--padding);
        padding-bottom: var(--padding);
        border-radius: 5px;

        &:hover {
            background-color: rgba($dlunire-color, 0.1);
            transition: none;
            border-color: rgba($dlunire-color, 0.1);
        }
    }
}

.flex {
    display: flex;
    align-items: center;
}

.steps {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    margin: 0 auto;
    border-radius: 5px;

    &__code {
        white-space: pre-line;
        margin: 0;
        @include padding-y(0);

        &-header {
            --icon-size: 20px;
            --icon-width: var(--icon-size);
            --icon-height: var(--icon-size);
            --icon-color: white;

            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include padding-x(10px);
            background-color: color.adjust(
                $color: $dark-color-theme,
                $lightness: -1%
            );
            color: white;
            position: sticky;
            top: 0;

            border-bottom: 1px solid rgba($dlunire-color, 0.2);
        }

        &-title {
            $color: color.adjust(
                $color: $dlunire-color,
                $lightness: 40%,
            );
            margin: 0;
            display: flex;
            align-items: center;
            gap: 5px;
            line-height: 1;

            --icon-size: 15px;
            --icon-width: var(--icon-size);
            --icon-height: var(--icon-size);

            font: {
                weight: 500;
                size: 0.8rem;
                family: "Cascadia Code", monospace;
            }

            --icon-color: #{rgba($color, 0.8)};

            text-transform: uppercase;
            color: var(--icon-color);
        }

        &-container {
            position: relative;
            /* box-shadow: 2px 2px 10px 0 rgba(white, 0.05); */
            border-left: 1px solid rgba($dlunire-color, 0.3);
            border-right: 1px solid rgba($dlunire-color, 0.3);

            &::before,
            &::after {
                content: "";
                position: absolute;
                background-image: linear-gradient(
                    90deg,
                    $command-color,
                    rgba($green-color, 03)
                );
                height: 1px;
                margin: auto;
                left: 0;
                right: 0;
            }

            &::before {
                top: -1px;
                bottom: auto;
                z-index: 10;
                /* opacity: 0.2; */
            }

            &::after {
                top: auto;
                bottom: 0;
            }
        }
    }
}

.hljs {
    white-space: pre;
    margin: 0;
    background-color: color.adjust(
        $color: transparent,
        $lightness: -1%
    ) !important;
    color: white !important;
    text-align: left;

    line-height: 1.2;
}
